<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div style="background:transparent !important" class="jumbotron mt-4">
        <h1 class="display-4 text-center">
          <img id="404" class="responsive" src="/img/404.png" alt="404" height="500" width="700">
        </h1>
        <a href="/" class="btn btn-outline-danger float-left" style="margin-left:8px;">← Back To Home</a>
      </div>
    </div>
  </div>
</div>