.list-group-item {
  line-height: 2.5;
}

#home{
  background-color:rgba(255, 250, 250,);
}



#map{
  display: block;
  width: 65%;
  height: 320px;
  border: 1px solid rgb(7, 5, 5);
  box-shadow: 0 8px 16px 0 rgba(9, 24, 22, 0.911), 0 6px 20px 0 rgb(2, 0, 8);
  margin: 0 auto; 
  /* position: absolute; */
  
}

.container{
  position: relative;
  background-color: rgba(255, 250, 250,);
  font-family: 'Roboto', sans-serif;
}


body, html{
background-color: rgba(255, 250, 250,);
 width: 100%;
 padding: 0;
 margin: 0;

}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
}

h3{
  margin-top: 50px;
}

form{
  margin-top: 100px;
}
.responsive {
  max-width: 100%;
  height: auto;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  margin-top: 18px;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

footer{
  width: 100%;
  background: #000000;
  padding: 1px;
  bottom:0; 
}

.developers{  
  text-align: center;
  margin: 15px;

}

.dev{
  color: rgba(165, 210, 215, 0.92);
  margin: 10px;

}